# ignore __pycache__ files
**/__pycache__

# ignore .egg-info directory
**/*.egg-info

# ignore compiled files
**/build
**/dist
**/*.egg-info
*.so
*.pyd

# ignore logs directory
**/logs

# ignore jupyter notebook used for testing
*.ipynb
**/.ipynb_checkpoints
