# ignore __pycache__ files
**/__pycache__

# ignore compiled files
**/build
**/dist
**/docs
*.so
*.pyd

# ignore logs directory
**/logs

# ignore jupyter notebook used for testing
*.ipynb
**/.ipynb_checkpoints
